<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>

    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package.*|^import.*"/>
    </module>

    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>

    <module name="FileTabCharacter"/>

    <module name="TreeWalker">

        <module name="TypeName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName"/>

        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

        <module name="EmptyBlock">
            <property name="option" value="TEXT"/>
        </module>

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="tabWidth" value="4"/>
        </module>

    </module>

</module>
